.Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#616060, #1e2538)
}

.title {
    font-size: 80px;
    color: #FFF;
    animation: flipTitle 2s;

}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }

    to {
        transform: rotateX(0deg)
    }
}

.InputContainer {
    background-color: rgba(44, 44, 44, 0.9);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.InputContainer input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;

}

.buttonSearch:hover{
    transform: scale(1.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h2{
    margin: 16px 0;
    font-size: 40px;
}

.main span{
    margin-bottom: 16PX;
    font-weight: bold;
}

@media(max-width:450px){
    .title{
        font-size: 50px;
    }

    .main h2{
        font-size: 28px;
    }

    .main{
        min-height: 250px;
    }

    .InputContainer{
        height: 22px;
    }

    .buttonSearch{
        width: 20px;
    }
}